.mainDiv {
  margin-top: 42px;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .mainDiv {
    padding-right: 14px;
    padding-left: 14px;
    margin-top: 24px;
  }
}
