@font-face {
  font-family: "Poppins";
  src:
    local("Poppins"),
    url("./fonts/Poppins-Light.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0e1320;
  color: #eef4ff;
}

a {
  color: inherit;
  text-decoration: none;
}
